/* You can add global styles to this file, and also import other style files */
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
/* Quita márgenes y paddings globales */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Si usas .login-page con 100vh, quítalo o ajusta: */
.login-page {
  min-height: 100vh;
}

body {
  padding-top: 56px;
}
.content {
  padding-top: 56px;
  margin-left: 15px;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.menu-btn span {
  display: block;
  width: 6px;
  height: 6px;
  background: #333;
  border-radius: 50%;
  margin: 3px 0;
}