<div class="container-bg">
  <div class="content">
    <div class="row container-fluid">
      <div class="col-lg-2 col-md-2 ">
      </div>
      <div class="col-lg-8 col-md-2 row mt-2">

        <h1>{{'AREA_CLIENT.TITLE' | translate}}</h1>
        <div *ngFor="let tablero of tableros" class=" me-5 mb-2 " style="width: 12rem; " (click)="open_tablero(tablero.id)">

          <div class="tablero-card ">

            <img class="tablero-img" *ngIf="tablero.imagen;else noimage" [ngStyle]="{'background': tablero.imagen}"  />
            <ng-template #noimage>
              <img src="../../../assets/img/noimg.png" class="tablero-img" />
            </ng-template>

            <!-- <img class="tablero-img" *ngIf="tablero.imagen;else noimage" [src]="'../../../assets/img/' + tablero.imagen" alt="{{ tablero.nombre }}" />
            <ng-template #noimage>
              <img src="../../../assets/img/noimg.png" class="tablero-img" />
            </ng-template> -->

            <div class="tablero-footer">
              {{ tablero.nombre }}
            </div>

          </div>

          <!-- <img *ngIf="tablero.imagen;else noimage" [src]="'../../../assets/img/' + tablero.imagen" class="card-img-top border " alt="" style=" width: 100%;max-height: 1050px; object-fit: cover" />
          <ng-template #noimage>
            <img src="../../../assets/img/noimg.png" class="card-img-top" alt="" style="max-height: 1050px; object-fit: cover" />
          </ng-template>

          <div class="border " style="background-color: black;">
            <div class="text-card">{{tablero.nombre}}</div>
          </div> -->
        </div>
        <div class="me-5 mb-2" style="width: 12rem;" (click)="open_modal()">
          <div class="tablero-card ">
            <img src="../../../assets/img/add_tablero_nobg.png" class="tablero-img" alt="Crear nuevo" />
            <div class="tablero-footer">{{'AREA_CLIENT.BTN' | translate}}</div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>