<div class="login-page">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-5 offset-sm">
        <h2 class="mb-2 text-center">{{'REGISTER.TITLE' | translate}}</h2>
        <div class=" shadow rounded" style="background-color: #F5F5F7;">
          <div class="row">
            <div class="col-sm pe-0">
              <div class="h-100 py-4 px-5">
                <h3>{{'REGISTER.LBL1' | translate}}</h3>
                <div class="row g-2">
                  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12 mb-2">
                      <label for="firstName" class="form-label mb-0"
                        >{{'REGISTER.LBL2' | translate}}</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="username"
                      />
                      <div *ngIf="f['username'].touched && f['username'].errors">
                        <small
                          *ngIf="f['username'].errors['required']"
                          class="text-danger"
                          >{{ 'REGISTER.ERROR5' | translate }}</small
                        >
                        <small
                          *ngIf="f['username'].errors['minlength']"
                          class="text-danger"
                          >{{ 'REGISTER.ERROR7' | translate }}</small
                        >
                      </div>
                    </div>

                    <div>
                      <div class="col-lg-12">
                        <div class="col-md-12 mb-2">
                          <label for="password" class="form-label mb-0"
                            >{{'REGISTER.LBL3' | translate}}</label
                          >
                          <input
                            type="password"
                            class="form-control"
                            formControlName="password"
                          />
                        </div>
                        <div class="col-md-12 mb-2">
                          <label for="password2" class="form-label mb-0"
                            >{{'REGISTER.LBL5' | translate}}</label
                          >
                          <input
                            type="password"
                            class="form-control"
                            formControlName="confirmPassword"
                          />
                          <div
                            *ngIf="formulario.errors?.['noCoinciden'] && formulario.touched"
                          >
                            <small class="text-danger"
                              >{{ 'REGISTER.ERROR1' | translate }}</small
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 mb-2">
                        <label for="email" class="form-label mb-0">{{'REGISTER.LBL4' | translate}}</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="email"
                          placeholder="ejemplo@ejemplo.com"
                        />
                        <div *ngIf="f['email'].touched && f['email'].errors">
                          <small
                            *ngIf="f['email'].errors['required']"
                            class="text-danger"
                            >{{ 'REGISTER.ERROR5' | translate }}</small
                          >
                          <small
                            *ngIf="f['email'].errors['email']"
                            class="text-danger"
                            >{{ 'REGISTER.ERROR6' | translate }}</small
                          >
                        </div>
                      </div>
                      <div class="col-lg-12 mb-4">
                        <label for="firstName" class="form-label mb-0"
                          >{{'REGISTER.LBL6' | translate}}</label
                        >
                        <input
                          type="date"
                          class="form-control"
                          formControlName="fecha_nacimiento"
                          required
                        />
                        <div
                          *ngIf="
                            f['fecha_nacimiento'].touched &&
                            f['fecha_nacimiento'].errors
                          "
                        >
                          <small *ngIf="f['fecha_nacimiento'].errors['required']" class="text-danger"
                            >{{ 'REGISTER.ERROR5' | translate }}</small
                          >
                          <small
                            *ngIf="f['fecha_nacimiento'].errors['fechaFutura']" class="text-danger"
                          >
                            {{ 'REGISTER.ERROR4' | translate }}
                          </small>
                        </div>
                      </div>

                      <button
                        class="w-100 text-white btn btn-md button-t-prestamos mb-3"

                      >
                        {{'REGISTER.BTN1' | translate}}
                      </button>
                      <!-- </form> -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
