<div class="login-page">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-5 offset-sm">
        <h2 class="mb-2 text-center">Registrate en Fasttask</h2>
        <div class=" shadow rounded" style="background-color: #F5F5F7;">
          <div class="row">
            <div class="col-sm pe-0">
              <div class="h-100 py-4 px-5">
                <h3>Sign up</h3>
                <div class="row g-2">
                  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12 mb-2">
                      <label for="firstName" class="form-label mb-0"
                        >Nombre</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        formControlName="username"
                      />
                      <div *ngIf="f['username'].touched && f['username'].errors">
                        <small
                          *ngIf="f['username'].errors['required']"
                          class="text-danger"
                          >Nombre es requerido</small
                        >
                        <small
                          *ngIf="f['username'].errors['minlength']"
                          class="text-danger"
                          >Mínimo 3 caracteres</small
                        >
                      </div>
                    </div>

                    <div>
                      <div class="col-lg-12">
                        <div class="col-md-12 mb-2">
                          <label for="password" class="form-label mb-0"
                            >Contraseña</label
                          >
                          <input
                            type="password"
                            class="form-control"
                            formControlName="password"
                          />
                        </div>
                        <div class="col-md-12 mb-2">
                          <label for="password2" class="form-label mb-0"
                            >Confirmar contraseña</label
                          >
                          <input
                            type="password"
                            class="form-control"
                            formControlName="confirmPassword"
                          />
                          <div
                            *ngIf="formulario.errors?.['noCoinciden'] && formulario.touched"
                          >
                            <small class="text-danger"
                              >Las contraseñas no coinciden</small
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 mb-2">
                        <label for="email" class="form-label mb-0">Email</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="email"
                          placeholder="ejemplo@ejemplo.com"
                        />
                        <div *ngIf="f['email'].touched && f['email'].errors">
                          <small
                            *ngIf="f['email'].errors['required']"
                            class="text-danger"
                            >Email es requerido</small
                          >
                          <small
                            *ngIf="f['email'].errors['email']"
                            class="text-danger"
                            >Email no válido</small
                          >
                        </div>
                      </div>
                      <div class="col-lg-12 mb-4">
                        <label for="firstName" class="form-label mb-0"
                          >Fecha nacimiento</label
                        >
                        <input
                          type="date"
                          class="form-control"
                          formControlName="fecha_nacimiento"
                          required
                        />
                        <div
                          *ngIf="
                            f['fecha_nacimiento'].touched &&
                            f['fecha_nacimiento'].errors
                          "
                        >
                          <small *ngIf="f['fecha_nacimiento'].errors['required']" class="text-danger"
                            >Campo requerido</small
                          >
                          <small
                            *ngIf="f['fecha_nacimiento'].errors['fechaFutura']" class="text-danger"
                          >
                            La fecha no puede ser mayor a hoy
                          </small>
                        </div>
                      </div>

                      <button
                        class="w-100 text-white btn btn-md button-t-prestamos mb-3"

                      >
                        Registrarse
                      </button>
                      <!-- </form> -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
