<div class="login-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="mb-3 text-center ">
          Inicia Sesión en Fasttask
        </h2>
        <div class=" shadow rounded" style="background-color: #FBFBFD">
          <div class="row">
            <div class="col-md-7 pe-0">
              <div class="form-left h-100 py-4 px-5">
                <h3>Sign in</h3>
                <p class="text-muted mt-3">Acceder a tu cuenta</p>
                <form action="" class="row g-4">
                  <div class="col-12 mt-4">
                    <label>Usuario<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text">
                        <i class="bi bi-person"></i>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        id="username"
                        placeholder="Introducir Usuario"
                        required
                        [(ngModel)]="user.username"
                        name="username"
                      />
                    </div>
                  </div>
                  <div class="col-12">
                    <label>Contraseña<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text">
                        <i class="bi bi-lock-fill"></i>
                      </div>
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Introducir Contraseña"
                        required
                        [(ngModel)]="user.password"
                        name="password"
                      />
                    </div>
                    <!-- <div *ngIf="sigInFail">
                      <div class="alert alert-danger p-2 mt-1" role="alert">
                        Password incorrecto.
                      </div>
                    </div> -->
                  </div>
                  <div *ngIf="sigInFail">
                    <label class="text-danger">Usuario o contraseña incorrectos</label>
                  </div>
                  <div>
                    <button
                      type="submit"
                      (click)="login()"
                      class="btn px-4 text-white me-5 button-t-prestamos"
                    >
                      Acceder
                    </button>
                    <button
                      type="button"
                      class="btn px-4 text-white ml-2 button-t-prestamos"
                      (click)="crearCuenta()"
                    >
                      Crear cuenta
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 ps-0 d-md-block">
              <div
                class="form-right h-100  p-3"
                style="background-color: #F5F5F7"
              >
                <h3>Logueate</h3>

                <div class="border justify-content-center d-flex mt-4">
                  <div class="col-2"></div>
                  <div>
                    <button class="btn px-4 text-white me-5 button-t-prestamos">
                      <p style="text-align: justify">google</p>
                    </button>
                  </div>
                  <div class="col-2"></div>
                </div>
                <div class="col-3"></div>

                <div class="border justify-content-center d-flex mt-4">
                  <button class="btn px-4 text-white me-5 button-t-prestamos">
                    <p style="text-align: justify">Logueate como invitado</p>
                  </button>
                </div>
                <div class="text-center">
                  <img
                    src="../../../assets/img/logo.png"
                    width="200px"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
