<div class="">
  <h1 mat-dialog-title>{{ 'AREA_CLIENT_POPUP.TITLE' | translate }}</h1>

  <div class="col-12 mt-4 ">
    <div class="input-group">

      <div class="color-picker mb-3">
        <label>{{ 'AREA_CLIENT_POPUP.LBL1' | translate }}</label>
        <div class="d-flex gap-3 mt-2">
          <div *ngFor="let color of colores; let i = index" class="color-option" [ngStyle]="{'background': color}" [class.selected]="fondoSeleccionado === color" (click)="fondoSeleccionado = color">
            <span *ngIf="fondoSeleccionado === color" class="color-check">&#10003;</span>
          </div>
        </div>
      </div>
      <div>
        <div>
          <label>{{ 'AREA_CLIENT_POPUP.LBL2' | translate }}:<span class="text-danger">*</span></label>
        </div>
        <div>
          <input type="text" class="form-control input-text mt-2" id="nombreTablero" required [(ngModel)]="nombreTablero" name="nombreTablero" />
        </div>

      </div>


    </div>
    <mat-dialog-actions align="start">
      <button class=" btn btn-acceptar" [disabled]="!nombreTablero || nombreTablero.trim() === ''" mat-button [mat-dialog-close]="{ nombre: nombreTablero, imagen: fondoSeleccionado }">
        {{ 'AREA_CLIENT_POPUP.BTN1' | translate }}
      </button>
    </mat-dialog-actions>
  </div>

</div>