.color-picker {
  width: 100%;
}

.color-option {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border 0.2s;
}

.color-option.selected {
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #49b3fc;
}

.color-check {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  right: 8px;
  top: 8px;
  pointer-events: none;
}