<!-- <p>tablero works!</p> -->
<div class="container-bg" [ngStyle]="{'background': tablero.imagen, 'padding-top': '56px', 'min-height': '100vh'}">

    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list " (cdkDropListDropped)="dropList($event)">

        <div class="example-box ms-2" *ngFor="let lista of tablero?.listas; let i = index" cdkDrag>
            <div class="d-flex justify-content-between align-items-center justify-content-center">
                <input type="text" class="form-control mt-2 ms-2 input-text " placeholder="{{lista.nombre}}" 
                    (blur)="updateLista(lista.nombre, lista.id, lista.orden)" (keyup.enter)="updateLista(lista.nombre, lista.id, lista.orden)" [(ngModel)]="lista.nombre" />
                <div class="dropdown ps-2 ">
                    <button class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../../assets/img/menu.png" alt="Menu" style="width: 20px; height: 20px;">
                    </button>
                    <ul class="dropdown-menu">

                        <li><button class="dropdown-item" type="button" (click)="eliminarLista(lista.id)">Eliminar</button></li>
                    </ul>
                </div>
            </div>
            <!-- Task-->
            <div cdkDropListGroup>
                <div class="example-container ">

                    <div  cdkDropList [id]="'taskList' + i" [cdkDropListData]="lista.tasks" [cdkDropListConnectedTo]="connectedTaskLists" class="example-task mt-2 mb-2 justify-content-center"
                        (cdkDropListDropped)="dropTasks($event)">
                        <div class="example-box-task" *ngFor="let task of lista.tasks" cdkDrag>{{task.nombre}}
                            <div class="dropdown ps-2">
                                <button class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../../../../assets/img/menu.png" alt="Menu" style="width: 12px; height: 12px;">
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item" type="button" (click)="eliminarTask(task.id)">Eliminar</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Fin Task-->

            <!-- NEW Task-->
            <div *ngIf="!creandoTask " class="btn btn-oscuro mt-2" style="  width: 100%;" (click)="addTask(i)">
                + Crear </div>
            <div *ngIf="creandoTask && i == idRowTask" class="mt-3 ms-3 me-3">
                <div><input #newTaskInput class="form-control input-text" type="text" [(ngModel)]="newTask" style="width: 100%;" placeholder="Nueva tarea" (blur)="cancelCreateTask()" />
                </div>
                <div class="d-flex justify-content-left align-items-center gap-2">
                    <div class="btn btn-acceptar align-items-start mb-2 mt-2" (mousedown)="createTask(newTask, lista.id)">
                        Agregar</div>
                    <div>
                        <button class="btn" (click)="cancelCreateTask()"> <img src="../../../../assets/img/close.png" alt="Menu" style="width: 12px; height: 12px;"></button>
                    </div>
                </div>
            </div>
            <!-- Fin new Task  -->
        </div>

        <!-- Crear newLista -->
        <div class="example-container col-lg-2 ">
            <div *ngIf="!creandoLista" id="btnNewLista" class="btn ms-5 " style="  width: 100%;" (click)="addLista()">
                Añadir
                nueva lista +
            </div>
            <div *ngIf="creandoLista" id="btnNewListaOn" class="ms-5  p-3">
                <div><input #newListaInput type="text" class="form-control input-text" [(ngModel)]="newLista" style="width: 100%;" placeholder="Nueva lista" (blur)="cancelCreateLista()" />
                </div>
                <div class="d-flex justify-content-left align-items-center gap-2">
                    <div class="btn btn-acceptar align-items-start mb-2 mt-2" (mousedown)="createLista(newLista, tablero.id)">
                        Agregar
                    </div>
                    <div>
                        <button class="btn" (click)="cancelCreateLista()"> <img src="../../../../assets/img/close.png" alt="Menu" style="width: 12px; height: 12px;"></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin crear newLista -->

    </div>
</div>